:root {
    --main-light-green: #dceae8;
    --button-dark-green: #5b7e79;
    --button-darkdark-green: #3b635d;
    --category-dark-green: #bccfcc;
    --category-light-green: #e3eeed;
    --background-dark-gray: #cfd3d6;
    --background-light-white: #fcfdfd;
}
